PREFIX=v1
DOMAINS=["cloudflare.com","ismaelhv.com","localhost"]
ALLOWED_IPS=[]
AUTH_BASIC=[{"usr":"your_user","pwd":"your_password"}]
USERS=[{"user":"your_user","bucket":"BUCKET_YOUR_USER","path":[]}]
